
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">---------------Пока пусть так будет-->
  
 <head>
   <title>DOKBANK</title>
   <meta charset="utf-8">
     <div class="header">
<a href="http://localhost:8080/"><img src="img/logo.png" width="300" height="75" style="border-radius:3%;">
  <div class="header-right">
    <a class="menu" href="main"><h3>Главная</h3></a>
    <a class="menu"href="main"><h3>Запасная вкладка</h3></a>
    <a class="menu" href="main"><h3>Запасная вкладки 2</h3></a>
  </div>
</div>
</head> 
<body>
		<center>
			<div class="container" >
							<h1>**404***</h1><h2><p>Пабабам!Данной страницы не существует!</p></h2>
							<hr>
							<img src="img/eror2.png" width="500" height="500">
					  </div>
				</form>
			</div>
		</center>
</body>