<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="shortcut icon" href="img/logo_min" type="image/x-icon">
<style>
  </style>
   <title>DOKBANK</title>
   <meta charset="utf-8">
</head> 
<body>
<center>
 <div class="overlay" th:if="${errorMessage}" id="errorOverlay">
    <div class="window" style="width: 50%;background: rgba(255, 255, 255,1);border-radius: 10px 10px 10px 10px;">
      <span class="close-button">&#10005;</span>
      <h1>Ошибка</h1>
      <p th:text="${errorMessage}"></p>
    </div>
  </div>
 </center> 
     <div class="header">
<a href="http://localhost:8080/"><img src="img/logo.png" width="300" height="75" style="border-radius:3%;"></a>
</div>
		<center>
			<div>
				<form action="/login" method="post"><!--Вот туда должны данные отправляться.... -->
						<div class="container" >
							<h1>Авторизация</h1>
							<p>* Внимания логин и пароль можно получить у системного администратора!</p>
							<hr>
							<label for="login"><b>Логин</b></label>
							<input type="text" placeholder="* Введите Логин" name="login" required>

							<label for="psw"><b>Пароль</b></label>
							<input type="password" placeholder="* Введите Пароль" name="psw" required>

							
							<hr>
							<button type="submit" class="registerbtn">Вход</button>
							
							<p style="text-align:center";>У вас нет аккаунт? <a href="#">Отправить запрос на создание администранору</a>.</p>
					  </div>
				</form>
			</div>
		</center>

 <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Обработчик события при загрузке страницы
            fetch('/login?error=1')
                .then(function(response) {
                    // Обработчик успешного выполнения GET-запроса
                    if (response.ok) {
                        showOverlay();
                    }
                })
                .catch(function(error) {
                    console.log('Произошла ошибка:', error);
                });
        });
function showOverlay() {
  // Получаем ссылку на указанный div
  var overlayDiv = document.querySelector('.overlay');
  
  // Показываем div, устанавливая стиль display в 'block'
  overlayDiv.style.display = 'block';
}

//КНОПОЧКА ЗАКРЫТЬ
  document.querySelector(".close-button").addEventListener("click", function () {
      document.querySelector(".overlay").style.display = "none";
    });

    </script>
</script>
</body>